@import "tailwindcss";

@theme {
  --color-verde-primario: #4CAF50;
  --color-verde1: #C8E3C9;
  --color-azul-primario: #54CCFF;
  --color-azul1: #8FE0FF;
  --color-azul2: #34B1FD;
  --color-laranja-terroso: #FF9800;
  --color-amarelo-claro: #FFF176;
  --color-cinza-escuro: #333333;
  --color-branco: #fff;
  --color-preto: #000;
  --color-dark: #1F1F1F;
  --font-inter: 'Inter', sans-serif;
}

.custom-overlay {
  background: rgba(0, 0, 0, 0.942);
  z-index: 40; 
}

.link-nav {
  position: relative;
}

.link-nav::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-azul2);
  transition: width 0.3s ease;
}

.link-nav:hover::after {
  width: 100%;
}
